@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Karla', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fdd835;
  color: #222;
}

h1 {
  font-family: 'Lilita One', cursive;
}
